<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ $t("message.webTitle") }}</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/blog-home.css" rel="stylesheet">
</head>

<body>
  <!-- Page Content -->
  <div id="cart-app" class="container">
    <nav-bar></nav-bar>
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-header">{{ $t("message.webTitle") }}</small></h1>
        <product-item :filter-items="filterItems" :items="items" :type="type" :begin-item="beginItem" :end-item="endItem" @update-add-cart="addItem"></product-item>
        <hr>
        <pagination :pages="pages" :items="items" :current-page="currentPage" @update-show-item="chagneShowItem" @update-previous="changePrevious" @update-next="changeNext" @update-switch-page="changeSwitchPage"></pagination>
      </div>
      <div class="col-md-4 ">
        <search-bar :search-name="searchName" @update-search="changeSearch"></search-bar>
        <hr>
        <shopping-cart :carts="carts" @update-increase="changeIncrease" @update-remove="changeRemove" @update-checkout="changeCheckout"></shopping-cart>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/shopCarts.js"></script>

</body>

</html>