<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>VUEJS 實戰 - 5倍商城</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/blog-home.css" rel="stylesheet">
</head>

<body>
  <!-- Page Content -->
  <div id="cart-app" class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">購物商城</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/user/edit/<%= id %>"><span class="glyphicon glyphicon-user"></span>會員修改</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-header">VUEJS 實戰 - <small>5倍商城</small></h1>

        <div class="item" v-for="product in filterProduct(type)">
          <h2>{{ product.name }}:index {{ product.index }}</h2>
          <img class="item-img img-responsive" :src="product.picture" :alt="product.imageType">
          <p>{{ product.info }}</p>
          <p class="item-price ">${{ product.price }}</p>
          <a class="btn btn-primary " @click.prevent="addItem(product)" href="#">放入購物車 <span class="glyphicon glyphicon-chevron-right "></span></a>
        </div>

        <hr>
        <!--Pager -->
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous" @click.prevent="previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li v-for="page in countOfPage">
            <a href="#" @click.prevent="switchPage(page)">{{ page }}</a>
          </li>
          <li>
            <a href="#" aria-label="Next" @click.prevent="next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>

      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4 ">

        <div class="well ">
          <h4>商品搜尋</h4>
          <div class="input-group ">
            <input type="text" class="form-control" v-model="searchName">
            <span class="input-group-btn">
                <button class="btn btn-default" @click="search"><span class="glyphicon glyphicon-search "></span></button>
            </span>
          </div>
          <!-- /.input-group -->
        </div>

        <hr>

        <div class="well cart">
          <h4>購物車</h4>

          <ul class="itemsInCart ">
            <li v-for="cartProduct in carts" :key="cartProduct.index">
              <div class="cart-item">
                <div class="cart-title">{{ cartProduct.name }}</div> <span class="price">{{ cartProduct.price }}</span> x
                <span class="count">{{ cartProduct.count }}</span>
                <div class="handler"><a href="#" class="cart-btn plus" @click.prevent="cartProduct.count++">+</a> <a href="#" class="cart-btn minus" @click.prevent="remove(cartProduct)">-</a></div>
              </div>
            </li>
          </ul>
          <hr>
          <p>小計： <span>${{ amount }}</span></p>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/shopCarts.js"></script>

</body>

</html>