<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登入頁</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/order.css" rel="stylesheet">
</head>

<body>
<!-- Page Content -->
<div class="login" id="login">
    <div class="container">
        <h1>購買紀錄</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">圖片</th>
                <th scope="col">名稱</th>
                <th scope="col">價格</th>
                <th scope="col">數量</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < product.length; i++) { %>
                <tr>
                    <td>
                        <img src="<%= product[i].picture %>" alt="">
                    </td>
                    <td>
                        <%= product[i].name %>
                    </td>
                    <td>
                        <%= product[i].price %>
                    </td>
                    <td>
                        <%= product[i].amount %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>


<!-- /.container -->
<script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/order.js"></script>

</body>

</html>