.container {
    border: 1px solid #ccc;
}

.login {
    margin-top: 150px;
    margin-bottom: 150px;

}

.container {
    padding: 100px;
}

.container > h1 {
    text-align: center;
    margin-bottom: 50px;
}


@media (min-width: 768px){
    .container {
        width: 800px;
    }
}
