.container {
    border: 1px solid #ccc;
}

.login, .userEdit {
    margin-top: 150px;
    margin-bottom: 150px;
}

.container {
    padding: 100px;
}

.container > h1 {
    text-align: center;
    margin-bottom: 50px;
}

.cancel-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


#dialog {
    display: none;
}


@media (min-width: 768px){
    .container {
        width: 800px;
    }
}
